<h1>Listing posts</h1>



<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>




<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
<%#= paginate @posts %>


<br>


<ul class="list-group">
  <% @posts.each do |post| %>
  <li class="list-group-item">
    <span class="badge"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span>
   <%= post.title %>
  </li>

  <%end%>
</ul>




<%= link_to 'New Post', new_post_path %>
